# Visualiação de váriaveis e texto

In [1]:
# print para visualição de variaveis

x = -8
print(x)

-8

In [ ]:
#phyton é uma lingagem de auto nivel, não precisa declarar 'soma' como inteiro ou real

y = 10

soma = -x + y

print(soma)

In [4]:
# mesmo se aplica para variaveis de string

nome = 'Joaquin da silva'
print(nome)

Joaquin da silva

### Contatenação

In [5]:
x = 10

print('valor de x é:',x)

valor de x é: 10

In [7]:
# é possivel manipular o valor da variavel na contatenação

print('valor de x ao dobro é:',x*2)

valor de x é: 20

In [8]:
# na mesma linha é possivel contatenar mais de uma variavel

print('o ',nome,'é nota',x)

o  Joaquin da silva é nota 10

In [13]:
# é possivel manipular o tipo da variavel e ver o tipo da variavel

x = 10

type(x)
print('x',type(x))

nome = 'joaquin'
print('nome',type(nome))

num_float = 10.5
print('num',type(num_float))

num2 = '100'
num_convertido = int(num2) #isso esta convertendo para inteiro o tipo string do num2
print('num2',type(num2))
print('num_convertido',type(num_convertido))

x <class 'int'>
nome <class 'str'>
num <class 'float'>
num2 <class 'str'>
num_convertido <class 'int'>

##Input

* Força a informação digitada pelo usuario entrar como uma string
* Entrada sempre sera um texto na entrada

In [14]:
nome = input('Digite seu nome: ') # Espera o usuario inser um texto
print('Olá',nome)

Digite seu nome: Rodrigo o maioral
Olá Rodrigo o maioral

In [15]:
# mesmo se a variavel for um inteiro o valor vai ser texto

idade = input('Digite sua idade: ')
print('Sua idade é:',idade)

Digite sua idade: 45
Sua idade é: 45

In [16]:
# se tentarmos tratar o valor de text usando uma variavel inteiro o codigo apresenta erro

idade = input('Digite sua idade: ')
nova_idade = idade + 1
print('Sua idade é:',nova_idade)

Digite sua idade: 45

TypeError: can only concatenate str (not "int") to str

In [17]:
# para esse caso precisamos converter o texto para inteiro para dar certo

idade = input('Digite sua idade: ')
# Converte a string 'idade' para um inteiro antes da adição
nova_idade = int(idade) + 1
print('Sua idade é:',nova_idade)

Digite sua idade: 45
Sua idade é: 46